{% if breadcrumbItems and breadcrumbItems.length %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {% for item in breadcrumbItems %}
    {
      "@type": "ListItem",
      "position": {{ loop.index }},
      "name": "{{ item.name }}",
      "item": "{{ item.url }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>

{% endif %}