{% if gallery and gallery.length %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ImageGallery",
  "@id": "https://www.fabriziovinciguerraph.com{{ page.url }}#gallery",
  "url": "https://www.fabriziovinciguerraph.com{{ page.url }}",
  "name": "{{ galleryName }}",
  "description": "{{ galleryDescription }}",
  "creator": {
    "@type": "Person",
    "@id": "https://www.fabriziovinciguerraph.com/#fabrizio-vinciguerra",
    "name": "Fabrizio Vinciguerra",
    "url": "https://www.fabriziovinciguerraph.com/"
  },
  "image": [
    {% for photo in gallery %}
    {
      "@type": "ImageObject",
      "@id": "https://www.fabriziovinciguerraph.com{{ photo.src }}#image",
      "contentUrl": "https://www.fabriziovinciguerraph.com{{ photo.src }}",
      "url": "https://www.fabriziovinciguerraph.com{{ photo.src }}",
      "name": "{{ photo.title }}",
      "caption": "{{ photo.alt }}",
      "description": "{{ photo.alt }}",
      "creditText": "Fabrizio Vinciguerra Photography",
      "copyrightNotice": "Copyright Fabrizio Vinciguerra",
      "creator": {
        "@type": "Person",
        "@id": "https://www.fabriziovinciguerraph.com/#fabrizio-vinciguerra",
        "name": "Fabrizio Vinciguerra"
      }{% if photo.location %},
      "contentLocation": {
        "@type": "Place",
        "name": "{{ photo.location }}"
      }{% endif %}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>

{% endif %}